{
  # Caddy génère un certificat local (CA interne) pour le domaine ci-dessous
  local_certs
}

https://transcendence.localhost {
  encode gzip
  reverse_proxy api:3000
}

# Fichiers statiques du front en HTTPS
https://front.localhost {
  root * /srv
  file_server
  encode gzip
}