services:
  api:
    build: .
    environment:
      - NODE_ENV=development
    expose:
      - "3000"
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "npm run dev"
  back_to_back:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    volumes:
      - ./back_to_back/src:/app/back_to_back/src
      - ./prisma:/app/prisma
      - ./back_to_back/avatar:/app/back_to_back/avatar
      - /app/back_to_back/node_modules
    ports:
      - "3042:3042"
    environment:
      NODE_ENV: development

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - api
    ports:
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./web:/usr/share/nginx/html:ro
      - ./certs:/etc/nginx/certs:ro     # ⬅️ bind-mount des certs générés
    command: ["nginx", "-g", "daemon off;"]  # ⬅️ pas d'entrypoint custom

volumes:
  certs: